<nav class="navbar navbar-expand-lg bg-light">
    <div class="mx-4">
        <a class="navbar-brand" href="{% url 'courses:dashboard' %}">CourseStore</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    </div>

    {% if request.user.is_authenticated %}

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Find courses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Your bought courses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Your developed courses</a>
                </li>
            </ul>

        </div>

        <div class="collapse navbar-collapse justify-content-end mx-3" id="navbarSupportedContent">

            <form class="form-inline">
                <div class="input-group">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </div>
            </form>



            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="">Mateusz</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:logout' %}">Logout</a>
                </li>
            </ul>

        </div>

    {% endif %}

</nav>